<!DOCTYPE html>
<html>
  <head>
    <title>Hangman</title>
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
    <link rel="stylesheet" href="bootstrap.min.css" />
    <style>
      img {
        max-width: 100%;
        max-height: 500px;
      }
      #header {
        display: flex;
        justify-content: space-between;
      }
      #hanger {
        text-align: center;
      }
      #word {
        text-align: center;
        padding: 25px 0 50px 0;
        font-family: 'Rock Salt', cursive;
        font-size: 60px;
      }
      #bt {
        padding-top: 5px;
      }
      #title {
        margin: 0 0 0 0;
      }
      .won {
        color: green;
        font-weight: bold;
      }
      .fail {
        color: red;
        font-weight: bold;
      }
      .normal {
        color: black;
        font-weight: bold;
      }


      /*#guess_form {max-width: 300px;}*/
    </style>
  </head>
  <body class="container">
    <div class="row">
      <div class="col-xs-2"></div>
      <div class="col-xs-8">
        <div class="well" id="header">
          <h1 id="title">Hangman</h1>
          <form method="post" action="/reset" id="bt">
              <button type="submit" class="btn btn-primary">Reset Game</button>
          </form>
        </div>
      </div>
      <div class="col-xs-2"></div>
    </div>
    <%= yield %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
