<!DOCTYPE html>
<html>
  <head>
    <title>Hangman</title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="style/bootstrap.min.css" />
    <link rel="stylesheet" href="style/style.css" />
  </head>
  <body class="container">

    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <div class="well" id="header">
          <h1 id="title">Hangman</h1>
          <form method="post" action="/reset" id="bt">
              <button type="submit" class="btn btn-primary">Reset Game</button>
          </form>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <%= yield %>
  </body>
</html>
